{% extends 'base.html' %}
{% block title %}Doctor Registration{% endblock %}
{% block content %}
<h3>Doctor Registration</h3>
<form method="post" enctype="multipart/form-data">
  <div class="row g-3">
    <div class="col-md-6"><label class="form-label">Full name</label><input class="form-control" name="full_name" required></div>
    <div class="col-md-6"><label class="form-label">Email</label><input class="form-control" type="email" name="email" required></div>
    <div class="col-md-6"><label class="form-label">Password</label><input class="form-control" type="password" name="password" required></div>
    <div class="col-md-6"><label class="form-label">Phone</label><input class="form-control" name="phone"></div>
    <div class="col-md-6"><label class="form-label">Clinic / Hospital</label><input class="form-control" name="clinic_name"></div>
    <div class="col-md-6"><label class="form-label">Specialization</label><input class="form-control" name="specialization"></div>
    <div class="col-md-6"><label class="form-label">Qualification</label><input class="form-control" name="qualification"></div>
    <div class="col-md-6"><label class="form-label">Medical Registration Number</label><input class="form-control" name="medical_registration_number"></div>
    <div class="col-md-6"><label class="form-label">Years of Experience</label><input class="form-control" name="years_of_experience" type="number"></div>
    <div class="col-12"><label class="form-label">Practice License (PDF/image)</label><input class="form-control" type="file" name="practice_license"></div>
    <div class="col-12 mt-3"><button class="btn btn-primary">Register</button></div>
  </div>
</form>
{% endblock %}
